.musics {
  margin: 0 auto;
  text-align: center;
  .list {
    .music {
      width: 700px;
      .musicItem{
        display: flex;
        height: 70px;  
        .lyric {
          width: 85%;
          line-height: 70px;
          font-family: "F";
        }
        .info {
          width: 15%;
          
          .name{
            line-height: 35px;
          }
          .singer{
            line-height: 35px;
          }
        }
      }
    }
  }
}