.form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 600px;
}

.loginForm {
  width: 700px;
  .input {
    width: 300px;
  }
}

// .buttonGroup {
//   display: flex;
//   justify-content: ;
// }